* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

.conteiner11{
    background-color: aqua;
    width: 70%;
    max-width: 1200px; 
    
}

header div{
    width: 100%;
    background-color: #fffcf5;
    text-align: center;

}
header div img{
   max-width: 100%;
   width: 300px;
}

header nav ul{ 
   
    display: flex;
    justify-content:space-around;
    align-items: center;
    list-style: none;
    font-size: 20px;
    padding: 0;
   background-image:url(https://static5.depositphotos.com/1038117/460/i/600/depositphotos_4608292-stock-photo-texture-fresh-wood-background.jpg);
   font-weight: 500;
}
header nav ul li a{
    text-decoration: none;
    color: black;
}
.nav-sombreado{
    padding: 8px 12px ;
    border-radius: 3px;
    flex: 1 0 auto;
    text-align: center;
}
.nav-sombreado:hover{
background-color:hsl(51, 70%, 55%) ;
transition: 0.2s;
}


#carouselExampleAutoplaying{
    width: 50%;
    text-align: center;
    display: block;
    margin: auto;
   
    
}

p{
    font-family: 'Neucha', cursive;
}
.carousel-inner div img{
    width: 20%;
    height: 30%;
   
}

.carousel-item{
transition-duration: 3s;
}

h2{
    font-family:cursive;
}

.contenedor{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center ;
    margin: 20px 0;
}
.caja{
    width: 30%;
    padding: 15px;
    text-align: center;
    margin: 10px;
    border: 5px solid black;
    overflow:auto;
    animation:rollIn;
    animation-duration: 3s;
}
.caja img{
    width: 90%;

}

footer{
    max-width: 100%;
    border: 1px solid black;
}

.footer1{
    background-color: #cfd8dc ;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    
}

.icon{
    width: 20px;
}

.footer2{
    background-color: #263238;
    color: white;
    display: flex;
    font-size: 15px;
    padding: 25px;
    
}
.ultimotext h3{
    font-size: 12px;
}




@media (max-width: 600px){
    .contenedor{
        flex-direction: column;
        align-items: center;
        text-align: center;

    }
    .caja{
        width: 80%;
    }
}

@media (max-width: 556px){
    header nav ul {
        flex-direction: column;
        align-items: center;
       
    }
}
